# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# Flutter/Dart
mobile-app-flutter/build/
mobile-app-flutter/.dart_tool/
mobile-app-flutter/.flutter-plugins
mobile-app-flutter/.flutter-plugins-dependencies
mobile-app-flutter/.packages
mobile-app-flutter/pubspec.lock
mobile-app-flutter/ios/Pods/
mobile-app-flutter/ios/.symlinks/
mobile-app-flutter/ios/Flutter/Flutter.framework
mobile-app-flutter/ios/Flutter/Flutter.podspec
mobile-app-flutter/android/.gradle/
mobile-app-flutter/android/app/build/
*.dSYM
*.framework

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.env*.local
